.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#navbar, #navbar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar {
  height: 30px;
  background-color: #666;
  min-width: 450px;
  
  width: 100%;
  position: absolute;
  z-index: 2;
}

#navbar li {
  float: left;
  position: relative;
  height: 100%;
  transition: .3s linear;
}

#navbar li a {
  display: block;
  padding: 6px;
  width: 150px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#navbar ul li {
  float: none;
}

#navbar li:hover {
  background-color: rgb(101, 176, 122);
}

#navbar ul li:hover {
  background-color: #666;
}



.menu {
    padding: 15px; 
    padding-top: 40px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    position: absolute;
    z-index: 1;
    overflow: auto;
    max-height: 500px;

  }
  .menu h3 {
    font-size: 30px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
    
    /* z-index: 1; */ 
  }

  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 5px solid rgba(0,0,0,.3);
  }
  .menu li {margin: 5px 0 0 0px;}
  .menu a {
    text-decoration: none;
    display: block;  
    font-size: 25px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
  }
  
  .menu a:hover {
    background: #80C8A0;
    color: white;
  }

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
  
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-image: url(BGphotos/photo1.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: changing 40s infinite;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 90px;
  background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
  color: transparent;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px #0f0101f7;
  font-family: URW Chancery L, cursive;
}

/* .content h1 {
  font-size: 90px;
  text-transform: uppercase;
  color:#fff;
  -webkit-text-stroke: 3px #0f0101f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */

.content a {
  background-color: #3424ca;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
}

@keyframes changing {
  0%, 100% {
    background-image: url(BGphotos/photo1.png);
  }
  10% {
    background-image: url(BGphotos/photo2.png);
  }
  20% {
    background-image: url(BGphotos/photo3.png);
  }
  30% {
    background-image: url(BGphotos/photo4.png);
  }
  40% {
    background-image: url(BGphotos/photo5.png);
  }
  50% {
    background-image: url(BGphotos/photo6.png);
  }
  60% {
    background-image: url(BGphotos/photo7.png);
  }
  70% {
    background-image: url(BGphotos/photo8.png);
  }
  80% {
    background-image: url(BGphotos/photo9.png);
  }
  90% {
    background-image: url(BGphotos/photo10.png);
  }

}


/*Map.html karte*/
.map-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6ac3dc;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.map-container h1 {
  color: #666;
  font-size: 45px;
}

iframe{
  width: 80vw;
  height: 80vh;
} 



/*Laukumu menu*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
.col {
  width: 450px;
  background: white;
  padding: 20px;
  border: 1px solid #eeeeee;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col * {margin: 0;}
.widget-title {
  margin: 0 0 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
  color: #242424;
  overflow: hidden;
}
.widget-title:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;  
  right: -15px;
  margin-right: -100%;
  border-top: 2px solid #cca86d;   
}
.price-line {margin-bottom: 20px;}
.price-line:last-child {margin-bottom: 0;}
.price-line:after {
  content: "";
  display: table;
  clear: both;
}
.laukumu-image {
  width: 260px;
  float: left;
}
.laukumu-image a {
  display: block;
  outline: none;
}
.laukumu-image img {
  display: block;
  width: 100%;
}
.laukumu-image {
  float: left;
  margin-left: 20px;
}
.laukumu-title {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1;
  text-align: center;
}
.laukumu-title a {
  text-decoration: none;
  color: #242424;
}
.adress-line {
  color: #666;
  font-size: 22px;
  line-height: 1;
  text-align: center;
}


/*Slider*/



 /* .slideshow.body {
  background: linear-gradient(-45deg, #83a4d4, #b6fbff);
  font-family: 'Open Sans', sans-serif;
} 

h1 {
  text-align: center;
} */

/* h1,
aside, */
.slideshow-container {
  padding-top: 50px;
  margin: 0 auto 20px;
  max-width: 700px;
}

.slideshow-container {
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 200ms;
  &:hover {
    box-shadow: 0 10px 50px -10px rgba(0,0,0,0.25);
  }
} 
.slideshow {
	position: relative;
	width: 100%;
	&:after {
		content: '';
		display: block;
		padding-bottom: calc((100% / 6) * 4);
	}
	&:hover a {
		opacity: 1;
	}
	a {
		opacity: 0;
		position: relative;
		text-decoration: none;
		transition: opacity 0.5s;
		&:after {
			border-color: #FFF #FFF transparent transparent;
			border-style: solid;
			border-width: 2px;
			color: #FFF;
			display: block;
			height: 10px;
			position: absolute;
			top: calc(50% - 5px);
			width: 10px;
		}
		&:first-child:after {
			content: '';
			left: 10px;
			transform: rotate(-135deg);
		}
		&:nth-child(2):after {
			content: '';
			right: 10px;
			transform: rotate(45deg);
		}
	}
	.slide {
		background-color: #FFF;
		box-sizing: border-box;
		display: none;
		height: 100%;
		position: absolute;
		width: 100%;
		&:first-child,
		&:target {
			display: block;
		}
		a {
			display: block;
			height: 100%;
			position: absolute;
			width: 50%;
			&:nth-child(2) {
				left: 50%;
			}
		}
		img {
      border-radius: 5px;
			width: 100%;
		}
	}
}
.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
  a {
    background: rgba(#FFF,0.75);
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    &:not(:last-child) {
      margin-right: 5px;
    }
    span {
      display: none;
    }
  }
}

a:target {
	color: red;
}